@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--mantine-color-gray-1);
}

::-webkit-scrollbar-thumb {
  background: var(--mantine-color-gray-4);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-color-gray-5);
}

[data-mantine-color-scheme='dark'] ::-webkit-scrollbar-track {
  background: var(--mantine-color-dark-7);
}

[data-mantine-color-scheme='dark'] ::-webkit-scrollbar-thumb {
  background: var(--mantine-color-dark-4);
}

[data-mantine-color-scheme='dark'] ::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-color-dark-3);
}
